.TabelaProdutos table {
    width: 100%;
}

.TabelaProdutos th {
    background-color: #00a0a0;
}

.TabelaProdutos .Par {
    background-color: #ddd;
}

.TabelaProdutos .Impar {
    background-color: #eee;
} 